
{% extends 'base.html' %}
{% load bootstrap5 %}
{% load custom_filters %}

{% block content %}
<div class="container-fluid text-center members-banner bg-info">
    
    <img class="rounded-circle" src="{{ full_time.image.url }}"  style="height: 280px;" alt="">
    <h3 class="pt-3">{{ full_time.name }}</h3>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-header">
                    <nav class="pt-2 float-end" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'pages:index' %}">Home</a></li>
                          <li class="breadcrumb-item"><a href="{% url 'publications:journals' %}">Journals</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Journal</li>
                        </ol>
                      </nav>
                </div>
                <div class="card-body">
                    <p class="card-text"><span class="fw-bold">Bio:</span> {{ full_time.bio }}</p>
                    <hr class="hr">
                    {% if full_time.career %}
                    <p class="card-text">
                        <span class="fw-bold">Career / Education:</span> {% with full_time.career|split_string:',' as career_list %}
                        <ul class="list-group">
                            {% for career in career_list %}
                                <li class="list-group-item">{{ career }}</li>
                            {% endfor %}
                        </ul>
                        {% endwith %}
                    </p>
                    {% endif %}

                    

                    <p class="card-text">
                        <span class="fw-bold">Education:</span> {% with full_time.education|split_string:',' as education_list %}
                        <ul class="list-group">
                            {% for education in education_list %}
                                <li class="list-group-item">{{ education }}</li>
                            {% endfor %}
                        </ul>
                        {% endwith %}
                    </p>
                    <p class="card-text fw-bold">Publications</p>
                    <table class="table striped table-hovered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-between bio-links">  
                    {% with bio.email_list|split_string:',' as email_list %}
                        <span class="fw-bold">
                            <i class="fa-solid fa-envelope"></i>
                            {% for email in email_list %}
                                <a href="mailto:{{ email }}">{{ email }} |</a>
                            {% endfor %}
                        </span>
                    {% endwith %}
                    
                        <span class="fw-bold">
                            <i class="fa-brands fa-google-scholar"></i>
                            <a href="{{ bio.link }}">Google Scholar</a>
                        </span>
                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}