{% extends 'base.html' %} {% load bootstrap5 %} {% block content %}
{% include 'partials/_banner.html' with heading="Serenpidity" %}
<div class="container mt-5">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-sm-6 card">
            <div class="card-body">
              <h5 class="card-title">Add Serendipity</h5>
              <form method="POST" action="{% url 'pages:serendipity_create' %}">
                {% csrf_token %}
                <!-- <div class="">
                  <input type="text" name="subject" value="{{ subject }}" class="form-control mb-2" placeholder="Serendipity" />
                </div> -->
                <div class="form-floating mb-2">
                  <textarea class="form-control" name="subject" value="{{ subject }}" placeholder="subject" id="subject" style="height: 80px;"></textarea>
                  <label for="content">Serendipity</label>
                </div>
                <!-- <div class="">
                  <input type="text" name="year" value="{{ year }}" class="form-control mb-2" placeholder="By year" />
                </div> -->
                
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-outline-info">
                    <i class="fa-solid fa-plus"></i> Add Serendipity
                  </button>
                </div>
              </form>
            </div>
        </div>
    </div>
    {% endif %}
  <div class="row">
    <div class="col-sm-10">
        {% if serens %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Subject</th>
            <!-- <th>Author</th> -->
			<th>By</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for seren in serens %}
          <tr>
            <th scope="row">{{ forloop.revcounter}}</th>
            <td>
              
                {{ seren.subject }}
            </td>
            <!-- <td>{{ patent.writer }}</td> -->
            <td>
                {% if seren.user %}
                                {{ seren.user|capfirst  }}
                            {% else %}
                                {{ seren.writer|capfirst }}
                            {% endif %}
            </td>
            
            {% if user == seren.writer or user.is_staff %}
            <td>
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editModal{{ seren.id }}">
                    Edit
                </button>
              <!-- <a
                href="{% url 'pages:serendipity_update' pk=seren.pk %}"
                class="btn btn-outline-info"
                >Edit</a> -->
            </td>
            {% endif %}
          </tr>
          
          <!-- Modal for each item -->
          <div class="modal fade" id="editModal{{ seren.pk }}" tabindex="-1" aria-labelledby="editModalLabel{{ seren.pk }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel{{ seren.pk }}">Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Add a form for editing the specific field -->
                        <form method="POST" action="{% url 'pages:serendipity_update' seren.pk %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="subject{{ seren.pk }}" class="form-label">Serendipity</label>
                                <input type="text" class="form-control" id="subject{{ seren.pk }}" name="subject" value="{{ seren.subject }}">
                            </div>
                            <button type="submit" class="btn btn-info">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <P>No data</P>
      {% endif %}
    </div>
    <div class="col-sm-2 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Search</h5>
          <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
          <form method="GET" action="{% url 'pages:serendipity' %}">
            <div class="">
              <input type="text" name="subject" value="{{ subject }}" class="form-control mb-2" placeholder="By Subject" />
            </div>
            <div class="">
              <input type="text" name="year" value="{{ year }}" class="form-control mb-2" placeholder="By year" />
            </div>
			
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-outline-info">
                <i class="fa-solid fa-magnifying-glass"></i>Search
              </button>
            </div>
            <div class="d-grid gap-2 mt-2">
                <a href="{% url 'publications:journals' %}" class="btn btn-outline-info">
                  <i class="fa-solid fa-xmark"></i> Clear Search
                </a>
              </div>
          </form>
          
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {%  if journals.has_other_pages %}
      <ul class="pagination">
          {% if journals.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ journals.previous_page_number }}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;&laquo;</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
          {% endif %}

          {% for i in journals.paginator.page_range %}
            {% if journals.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                </li>
            {% endif %}
          {% endfor %}

          {% if journals.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ journals.next_page_number }}">&raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ journals.paginator.num_pages }}">&raquo;&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;&raquo;</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
        {% endif %}
      </ul>
      {%endif%}
    </div>
</div>
</div>

<!-- {% if user.is_authenticated %}
<div class="position-fixed bottom-0 end-0 p-3">
    <a href="{% url 'publications:patent_create' %}" class="btn btn-outline-info" type="button">
        <i class="fa-solid fa-plus"></i> Add Patent
	</a>
  </div>
{% endif %} -->
{% endblock %}
