{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <main>
      <div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/four.png' %}" alt="">
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="header-text display-4 fw-bold">Networked Systems Lab.</h1>
                <p class="lead fw-bold text-dark">Innovation at its' very peak. Check out some of our projects</p>
                <p><a class="btn btn-lg btn-info" href="#">Projects</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/five.png' %}" alt="">
    
            <div class="container">
              <div class="carousel-caption">
                <h1 class="header-text display-4 fw-bold">Networked Systems Lab.</h1>
                <p class="lead fw-bold text-dark">Research at its' excellent best. Why not go through our publications?</p>
                <p><a class="btn btn-lg btn-info" href="#">Publications</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/four.png' %}" alt="">
    
            <div class="container">
              <div class="carousel-caption text-end">
                <h1 class="header-text display-4 fw-bold">Networked Systems Lab.</h1>
                <p class="lead fw-bold text-dark">Where great minds are born. Meet the members of our research team</p>
                <p><a class="btn btn-lg btn-info" href="#">Team Members</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </main> -->

      <!-- Hero Section -->
      <main id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/one.jpg' %}" class="d-block w-100" alt="Slide 1">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="header-text display-4 fw-bold">Networked Systems Lab.</h1>
                        <p class="lead fw-bold">Innovation at its' very peak. Check out some of our projects</p>
                        <p><a class="btn btn-lg btn-info" href="#">Projects</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/three.jpg' %}" class="d-block w-100" alt="Slide 2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="header-text display-4 fw-bold">Networked Systems Lab.</h1>
                        <p class="lead fw-bold">Research at its' excellent best. Why not go through our publications?</p>
                        <p><a class="btn btn-lg btn-info" href="#">Publications</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/four.png' %}" class="d-block w-100" alt="Slide 3">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1 class="header-text display-4 fw-bold">Networked Systems Lab.</h1>
                        <p class="lead fw-bold">Where great minds are born. Meet the members of our research team</p>
                        <p><a class="btn btn-lg btn-info" href="#">Team Members</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </main>
    
      <!-- About Us Section -->
<section id="about" class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <img src="https://via.placeholder.com/800x800" class="img-fluid rounded-circle about-image" alt="About Us Image">
          </div>
          <div class="col-lg-6">
              <div class="about-content">
                  <h2 class="display-4 mb-4 decorative-border">About Us</h2>
                  <p class="lead">Welcome to the IT Research Lab, where innovation meets excellence. We are at the forefront of cutting-edge technologies, specializing in AI, Blockchain, Digital Twin, and IoT.</p>
                  <p>Our dedicated team of researchers is passionate about pushing the boundaries of IT knowledge and creating solutions that impact the future. Whether it's exploring the realms of artificial intelligence, harnessing the power of blockchain, simulating digital twins, or connecting devices through the Internet of Things, we thrive on challenges and continuous exploration.</p>
                  <p>Join us on our journey as we contribute to shaping the future of information technology and make a lasting impact on the world.</p>
              </div>
          </div>
      </div>
  </div>
</section>


<!-- Research Areas Section -->
<section id="research" class="py-5">
  <div class="container text-center">
      <h2 class="display-4 mb-5 decorative-border">Our Research Areas</h2>
      <div class="row">
          <div class="col-lg-4 mb-4 d-flex">
              <div class="research-item flex-fill">
                  <i class="fas fa-wifi fa-4x mb-4"></i>
                  <h3 class="h5">IoT</h3>
                  <p class="text-muted">Exploring the Internet of Things to create innovative and connected solutions.</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex">
              <div class="research-item flex-fill">
                  <i class="fas fa-shield-alt fa-4x mb-4"></i>
                  <h3 class="h5">Military Communication</h3>
                  <p class="text-muted">Advancing military communication technologies for enhanced security and efficiency.</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex">
              <div class="research-item flex-fill">
                  <i class="fas fa-globe fa-4x mb-4"></i>
                  <h3 class="h5">Digital Twin</h3>
                  <p class="text-muted">Simulating real-world systems with digital twin technology for better understanding and optimization.</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex">
              <div class="research-item flex-fill">
                  <i class="fas fa-brain fa-4x mb-4"></i>
                  <h3 class="h5">AI/ML</h3>
                  <p class="text-muted">Pushing the boundaries of Artificial Intelligence and Machine Learning for intelligent systems.</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex">
              <div class="research-item flex-fill">
                  <i class="fab fa-bitcoin fa-4x mb-4"></i>
                  <h3 class="h5">Blockchain</h3>
                  <p class="text-muted">Researching and innovating in the field of blockchain technology for secure and transparent solutions.</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4 d-flex">
            <div class="research-item flex-fill">
                <i class="fab fa-buromobelexperte fa-4x mb-4"></i>
                <h3 class="h5">B6G</h3>
                <p class="text-muted">Conducting cutting-edge research in B6G technology for advanced communication and connectivity.</p>
            </div>
          </div>
      </div>
  </div>
</section>

<!-- Team Members Section -->
<section id="team" class="py-5">
  <div class="team-background"></div>
  <div class="container text-center">
      <h2 class="display-4 mb-5 decorative-border">Meet Our Professors</h2>
      <div class="row">
          <div class="col-lg-4 mb-4">
              <div class="team-member">
                  <img src="https://via.placeholder.com/300" class="img-fluid rounded-circle team-image" alt="Professor 1">
                  <h3 class="h5 mt-3">Prof. John Doe</h3>
                  <p class="text-muted">AI & Machine Learning</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4">
              <div class="team-member">
                  <img src="https://via.placeholder.com/300" class="img-fluid rounded-circle team-image" alt="Professor 2">
                  <h3 class="h5 mt-3">Prof. Jane Smith</h3>
                  <p class="text-muted">Blockchain Specialist</p>
              </div>
          </div>
          <div class="col-lg-4 mb-4">
              <div class="team-member">
                  <img src="https://via.placeholder.com/300" class="img-fluid rounded-circle team-image" alt="Professor 3">
                  <h3 class="h5 mt-3">Prof. Robert Johnson</h3>
                  <p class="text-muted">Digital Twin Expert</p>
              </div>
          </div>
      </div>
  </div>
</section>

<hr class="border border-info border-3">
<!-- Publication Section -->
<section id="publications" class="py-5">
  <div class="container text-center">
      <h2 class="display-4 mb-5 decorative-border">Publications Overview</h2>
      <div class="publication-table-responsive">
          <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th>Years</th>
                      <th>Publications</th>
                      <th>Patents</th>
                      <th>Conferences</th>
                      <th>Alumni</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>2023</td>
                      <td>25</td>
                      <td>3</td>
                      <td>12</td>
                      <td>
                          <ul>
                              <li>MS: 15</li>
                              <li>PhD: 5</li>
                          </ul>
                      </td>
                  </tr>
                  <tr>
                      <td>2022</td>
                      <td>20</td>
                      <td>2</td>
                      <td>8</td>
                      <td>
                          <ul>
                              <li>MS: 12</li>
                              <li>PhD: 4</li>
                          </ul>
                      </td>
                  </tr>
                  <!-- Add more rows as needed -->
              </tbody>
          </table>
      </div>
  </div>
</section>



{% endblock %}